/* ==========================================================================
   Base Styles
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

html {
  font: normal 100% "open-sans";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; 
}

body {
  background: #fff;
  font-family: sans-serif;
}

h1 {
  font-size: 7.594em;
}

/* ==========================================================================
   Layout Styles
   ========================================================================== */

header {
  background: #111;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

/* ==========================================================================
   Module Styles
   ========================================================================== */

.logo {
  background: #fff;
  height: 80px;
  width: 80px;
}

/* ==========================================================================
   State Styles
   ========================================================================== */

/* ==========================================================================
   Theme Styles
   ========================================================================== */
