<div class="row">
  <section>
    <div class="row section-head">
      <div class="container">
        <h1><span style="color:#ddd;font-weight:400;letter-spacing:-10px;">01.</span>Voice</h1>
        <!-- <span class="section&#45;name">Section Name</span> -->
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="main">
          <p>In 2012, 8th Light craftsmen produced a list of 12 principles that serve as a benchmark for how craftsmen should represent the company and themselves. The following is an effort to  codify these principles into a singular voice of craftsmanship. This voice is humble, calculated, honest, and empathetic; but most of all, this voice is human.</p>

          <h2>We Humbly Demonstrate Our Expertise</h2>
          <p>8th Light’s voice relies on measured analysis of empirical evidence. We are not reactionary or personal; we are calculated and practical. We are demonstrative, and use factual evidence to build up to conclusions in our arguments.</p>
          <p>We have strong opinions rooted in fact, but we hold them weakly. Through our practice and experience, we have learned to think that the way we do things is the correct way. That is our expertise. However, we are open to disagreements, especially ones that might disprove our understanding, or open our understanding to newer possibilities. Our knowledge is solid, but it is not unshakeable. Whenever we present our knowledge and opinions, we need to make sure we are doing so by sharing our experiences that have led to them.</p>
          <p>As a craftsman, you are deeply knowledgable, but also passionate about your craft. It is intensely interesting and entertaining to you, and it is possible to show that in your writing. That said, it is important to share your experiences for what they are—experiences unique to you. Do not generalize and assume that everyone approaches the same topic in the same way.</p>

          <div class="example">
            <h3>Example</h3>
            <p>Doug Bradbury’s blog post, “Gender Equality Is Not Enough,” addressed a controversial topic that frequently lends itself to defensive and accusatory language. But instead of attempting to provide answers when he had none, Doug changed the question to one that afforded more room for actual discussion of the issue, not the people involved in it. He avoided addressing any individuals (specific or generic), and focused wholly on the subject matter.</p>
            <span class="reference">http://blog.8thlight.com/doug-bradbury/2014/06/09/gender-equality-is-not-enough.html</span>
          </div>

          <aside>
            <div class="jump-links">
              <a href="#">
                <h3>Jump To</h3>
                We Humbly Demonstrate Our Expertise
              </a>
              <a href="#">We Are Calculated, And Take Responsibility For Our Prose</a>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
<div>

