<article>
  <div class="row main-title">
    <div class="container">
      <h1>Voice</h1>
    </div>

    <div class="article-pagination">
      Tone &#10095;
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      <section>
        <div class="row">
          <p>Hi, world!</p>
        </div>
      </section>
    </div>

    <aside>
      Aside
    </aside>
  </div>
</article>
