<div class="row">
  <section>
    <div class="row section-head">
      <div class="container">
        <h1><span style="color:#ddd;font-weight:400;letter-spacing:-10px;">01.</span>Voice</h1>
        <!-- <span class="section&#45;name">Section Name</span> -->
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="main">
          <p>In 2012, 8th Light craftsmen produced a list of 12 principles that serve as a benchmark for how craftsmen should represent the company and themselves. The following is an effort to  codify these principles into a singular voice of craftsmanship. This voice is humble, calculated, honest, and empathetic; but most of all, this voice is human.</p>

          <h2>We Humbly Demonstrate Our Expertise</h2>
          <p>8th Light’s voice relies on measured analysis of empirical evidence. We are not reactionary or personal; we are calculated and practical. We are demonstrative, and use factual evidence to build up to conclusions in our arguments.</p>
          <p>We have strong opinions rooted in fact, but we hold them weakly. Through our practice and experience, we have learned to think that the way we do things is the correct way. That is our expertise. However, we are open to disagreements, especially ones that might disprove our understanding, or open our understanding to newer possibilities. Our knowledge is solid, but it is not unshakeable. Whenever we present our knowledge and opinions, we need to make sure we are doing so by sharing our experiences that have led to them.</p>
          <p>As a craftsman, you are deeply knowledgable, but also passionate about your craft. It is intensely interesting and entertaining to you, and it is possible to show that in your writing. That said, it is important to share your experiences for what they are—experiences unique to you. Do not generalize and assume that everyone approaches the same topic in the same way.</p>

          <div class="example">
            <h3>Example</h3>
            <p>Doug Bradbury’s blog post, “Gender Equality Is Not Enough,” addressed a controversial topic that frequently lends itself to defensive and accusatory language. But instead of attempting to provide answers when he had none, Doug changed the question to one that afforded more room for actual discussion of the issue, not the people involved in it. He avoided addressing any individuals (specific or generic), and focused wholly on the subject matter.</p>
            <span class="reference">http://blog.8thlight.com/doug-bradbury/2014/06/09/gender-equality-is-not-enough.html</span>
          </div>

          <h2>We Are Calculated, And Take Responsibility For Our Prose</h2>
          <p>Every time you publish a piece of writing, you lose the ability to control how it is interpreted. Avoid preventable misunderstandings by using straightforward language that clarifies any ambiguities, whether in logic or metaphor. If you are unsure whether your language fits your message, read it aloud to yourself. Remove it from the rest of your writing and ask whether someone could still easily understand your point. If someone read only 140 characters of your metaphor in a tweet, would you still be able to defend it?</p>
          <p>There are two key factors to keep in mind when writing in order to make your prose as clear as possible:</p>
          <ol>
            <li>
              Be diligent in editing for grammar and clarity. Clear writing is built on the pillars of clear grammar and logic. Every decision of grammar and word choice is made with the intention of clarifying a piece of writing. Avoid inconsistent punctuation, and avoid difficult words that could trip up readers or obfuscate your message.

              <div class="example">
                <h3>Example</h3>
                <p>In a sentence that both explains and demonstrates the purpose of “They tell us to slow down, notice this, take a detour, and stop.” Without the Oxford comma, it is unclear whether “take a detour and stop” is one single clause, or whether it contains two different clauses with a comma omitted. Help readers avoid that confusion by remaining consistent. When readers come commas, Lynn Truss wrote in her book Eats, Shoots & Leaves: to expect Oxford commas, they notice when they are not present.</p>
              </div>
            </li>
          </ol>

          <aside>
            <div class="jump-links">
              <a href="#">
                <h3>Jump To</h3>
                We Humbly Demonstrate Our Expertise
              </a>
              <a href="#">We Are Calculated, And Take Responsibility For Our Prose</a>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
<div>

