<div class="container main">
  <article>
    <div class="row main-title">
      <div class="container">
        <h1>Voice</h1>
      </div>
    </div>

    <div class="container">
      <div class="main-content">
        <div class="row">
          <aside>
            <ul>
              <li>
                <h3>Jump To</h3>
                <a href="#">We Humbly Demonstrate Our Expertise</a>
              </li>
              <li><a href="#">We Are Calculated, And Take Responsibility For Our Prose</a></li>
              <li><a href="#">By Steadily Adding Value, We Are Honest About Our Conclusions And How We Arrived At Them</a></li>
              <li><a href="#">As Part of a Community of Professionals, We Are Empathetic</a></li>
              <li><a href="#">Through Productive Partnerships, We Are Human</a></li>
            </ul>
          </aside>

          <section>
            <p><span class="drop-cap">I</span>n 2012, 8th Light craftsmen produced a list of 12 principles that serve as a benchmark for how craftsmen should represent the company and themselves. The following is an effort to codify these principles into a singular voice of craftsmanship. This voice is humble, calculated, honest, and empathetic; but most of all, this voice is human.</p>
            <h2>We Humbly Demonstrate Our Expertise</h2>
            <p>8th Light’s voice relies on measured analysis of empirical evidence. We are not reactionary or personal; we are calculated and practical. We are demonstrative, and use factual evidence to build up to conclusions in our arguments.</p>
            <p>We have strong opinions rooted in fact, but we hold them weakly. Through our practice and experience, we have learned to think that the way we do things is the correct way. That is our expertise. However, we are open to disagreements, especially ones that might disprove our understanding, or open our understanding to newer possibilities. Our knowledge is solid, but it is not unshakeable. Whenever we present our knowledge and opinions, we need to make sure we are doing so by sharing our experiences that have led to them.</p>
            <p>As a craftsman, you are deeply knowledgable, but also passionate about your craft. It is intensely interesting and entertaining to you, and it is possible to show that in your writing. That said, it is important to share your experiences for what they are—experiences unique to you. Do not generalize and assume that everyone approaches the same topic in the same way.</p>

            <div class="example">
              <h3>Example</h3>
              <p>Example — Doug Bradbury’s blog post, “Gender Equality Is Not Enough,” addressed a controversial topic that frequently lends itself to defensive and accusatory language. But instead of attempting to provide answers when he had none, Doug changed the question to one that afforded more room for actual discussion of the issue, not the people involved in it. He avoided addressing any individuals (specific or generic), and focused wholly on the subject matter.</p>
              <span class="url-reference"><a href="#"><i class="fa fa-external-link"></i> http://blog.8thlight.com/doug-bradbury/2014/06/09/gender-equality-is-not-enough.html</a></span>
            </div>
          </section>

          <section>
            <h2>We Are Calculated, And Take Responsibility For Our Prose</h2>
            <p>Every time you publish a piece of writing, you lose the ability to control how it is interpreted. Avoid preventable misunderstandings by using straightforward language that clarifies any ambiguities, whether in logic or metaphor. If you are unsure whether your language fits your message, read it aloud to yourself. Remove it from the rest of your writing and ask whether someone could still easily understand your point. If someone read only 140 characters of your metaphor in a tweet, would you still be able to defend it?</p>
            <p>There are two key factors to keep in mind when writing in order to make your prose as clear as possible:</p>

            <ol>
              <li>
                <p>Be diligent in editing for grammar and clarity. Clear writing is built on the pillars of clear grammar and logic. Every decision of grammar and word choice is made with the intention of clarifying a piece of writing. Avoid inconsistent punctuation, and avoid difficult words that could trip up readers or obfuscate your message.</p>
              </li>

              <div class="example">
                <h3>Example</h3>
                <p>In a sentence that both explains and demonstrates the purpose of “They tell us to slow down, notice this, take a detour, and stop.” Without the Oxford comma, it is unclear whether “take a detour and stop” is one single clause, or whether it contains two different clauses with a comma omitted. Help readers avoid that confusion by remaining consistent. When readers come commas, Lynn Truss wrote in her book <span class="hilight">Eats, Shoots &amp; Leaves:</span> to expect Oxford commas, they notice when they are not present.</p>
              </div>

              <li>
                <p>Before writing, make sure that you’ve achieved a clear understanding of the issues. The act of writing is a useful learning tool because it requires a complete comprehension, and anything less than that will jeopardize the integrity of your message. Do not presume authority on a topic; earn it through a thorough knowledge and review of the facts.</p>
              </li>
            </ol>

            <p>In order to avoid inflammatory language, do your best to avoid writing directly about or to another human or company. Try to write from a silo that contains only what you know to be true. You are writing for a universal audience; and if you find yourself writing to one party in particular, try to reframe your thoughts to address the topic, not the people interacting with it. This will ensure that you are not only remaining professional, but also that you are exploring arguments rooted in facts, not personal vendettas.</p>
          </section>

          <section>
            <h2>By Steadily Adding Value, We Are Honest About Our Conclusions And How We Arrived At Them</h2>
            <p>Engage with your topic in a straightforward and honest way. Do not hide behind hyperbole or abstraction. Make sure that your claims are backed up by empirical evidence within your writing. Acknowledge and confront the holes or unknowns in your argument before someone else does. This honesty will comfort readers, and make conversations more amicable. But it will also guarantee that you are adding something of value to the conversation, and that you are setting expectations as precisely as possible.</p>
            <p>Accessibility is always a primary concern, because it will determine how impactful your message will be. If a truly profound thought is built on the shoulders of giants, make sure you, at the very least, build a ladder up to them in your essay. If your idea is a light tower, make sure it stays close enough to shore that readers can make use of it.</p>
            <p>A craftsman needs to be able to articulate complexity of software to people who do not understand software. When communicating with a client who clearly does not have a strong technological background, focus on the tangible deliverables that they can observe. Tell them what something will do and what it will look like. From there, you can slowly remove the curtain and explain the effort that is required to accomplish these deliverables.</p>

            <blockquote>
              &#8220;How many records does this have to be able to handle? How fast does it have to be? What does it look like on the front end?&#8221; &mdash; Jim Suchy
            </blockquote>

            <p>In an exercise like setting Acceptance Criteria in an Iteration Planning Meeting, it is never enough to focus solely on tangible deliverables. Make sure it is clear to both parties what it means for those deliverables to be done.</p>
            <p>Clarify expectations at every level so that you are able to not just steadily add value, but steadily adding the value as the client intends for you to. Expectations are set and maintained, and you can build a level of trust—both that you will deliver for the client, and that the client will tell you the right things to deliver.</p>

            <h2>As Part of a Community of Professionals, We Are Empathetic</h2>
            <p>As craftsmen, we embrace differences. A truly effective group of craftsmen thrives on the unique traits and contributions of its individuals. In order to get the most out of our fellow craftsmen, we need to approach them with respect, and their ideas with scrutiny.</p>
            <p>It is important to avoid flame wars and logical fallacies. If you are going to speak out against something that you find offensive, it is important to avoid speaking out against a straw man. Be calculated in both your approach, as well as your decision of when to speak out.</p>
            <p>If you find yourself struggling to find a common ground between your idea and another’s, try to frame that uncertainty in a way that attempts to reconcile the factual differences. Do not respond to the person’s inability to bridge the gap; instead, speak directly to the details and try to discern their utility in the conversation.</p>
            <p>Try not to discredit something wholesale just because it comes from a foreign place—instead, seek to explore the reasons why this gulf in understanding might exist, and what you can do to resolve the disconnect. What has your experience taught you about these issues, and what might other people’s experiences have taught them? Stay focused on the primary issues, not the symptoms or the people connected to them. Remember that these opinions are held by other humans, and they likely have their own basis in facts—however incorrectly you might consider their implementation.</p>
            <p>In every conversation, craftsmen must be eager to educate. 8th Light’s brand is built on a dedication to continuous education, and we let the results of that educative experience speak for itself.</p>
            <p>However, we must also retain our humility, because the educative experience works both ways. As craftsmen, we must always be open to being educated. It is OK to have strong opinions, so long as they are held weakly.</p>
            <p>At every opportunity, we must always protect client information. Host client passwords, access keys, and codes on machines that can be easily reset if compromised.</p>
            <p>As part of our non-disclosure agreements, we are not allowed to speak publicly about specific clients. Anything written about specific clients—whether as a blog post, case study, or other content—is subject to approval by the client.</p>
          </section>

          <section>
            <h2>Through Productive Partnerships, We Are Human</h2>
            <p>Always remember that you are writing to another human. Show empathy, and focus on the process you are describing. Consider not only the topic of conversation, but also the relative importance of that topic. Do you need to write such a long email? Would a phone call have been more appropriate? Could you have simplified the explanation to avoid using jargon? These are all questions that should be easily answered once you become more familiar with your audience and the goals of your conversation.</p>
            <p>Think of your writing like a partnership with your audience. We must establish the starting point, and then walk together toward the final conclusion. We must remain honest and open to feedback, while also anticipating criticisms so that the destination is not surprising. And we must present our information and opinions in a way that will reward readers and listeners for following us there.</p>
            <p>When interacting with a client, communicate with that client as they want to be spoken to as a human. At the onset of your relationship the tone must be professional, but as you begin working together it is important to maintain a level of personality that makes both of you feel comfortable, and that promotes a level of trust and accountability. <span class="end-of-article-marker"><i class="fa fa-dot-circle-o"></i></span></p>
          </section>
        </div>
      </div>
    </div>
  </article>
</div>

