<div class="container">
  <div class="row">
    <section>
      <div class="headline">
        <h1>Voice</h1>
        <span class="section-name">Section Name</span>
      </div>

      <div class="row">
        <p>In 2012, 8th Light craftsmen produced a list of 12 principles that serve as a benchmark for how craftsmen should represent the company and themselves. The following is an effort to  codify these principles into a singular voice of craftsmanship. This voice is humble, calculated, honest, and empathetic; but most of all, this voice is human.</p>

        <h2>We Humbly Demonstrate Our Expertise</h2>
        <p>8th Light’s voice relies on measured analysis of empirical evidence. We are not reactionary or personal; we are calculated and practical. We are demonstrative, and use factual evidence to build up to conclusions in our arguments.</p>
      </div>

      <aside>
        <h3>Jump To</h3>
      </aside>
    </section>
  <div>
</div>

