<article>
  <div class="row main-title">
    <div class="container">
      <h1>Resources</h1>
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      <div class="row">
        <aside>
          <ul>
            <li>
              <h3>Jump To</h3>
              <a href="#">The Hemingway App</a>
            </li>
            <li><a href="#">Writing Tips</a></li>
            <li><a href="#">The Purdue Online Writing Lab</a></li>
            <li><a href="#">Elements of Style</a></li>
            <li><a href="#">Mental Floss’ List of “Persnickety Rules”</a></li>
            <li><a href="#">Lexicon Valley</a></li>
          </ul>
        </aside>

        <section>
          <h2>The Hemingway App</h2>
          <span class="url-reference large"><a href="http://hemingwayapp.com/"><i class="fa fa-external-link"></i> http://hemingwayapp.com/</a></span>
          <p>The Hemingway App does several useful things that most automated applications do not. The app scans your text for sentences that are hard to read, sentences that are very hard to read, adverbs, words that can be simpler, and examples of passive voice. Compiling all of this data, it then assigns a readability grade level.</p>
          <p>This app is not a perfect proofreader. It will tell you to simplify verb choice, though sometimes that will come at the cost of an active, engaging voice. It will also highlight any compound sentence that switches subjects, though that is a very useful sentence construct (case in point: this sentence). Take these finer observations with a grain of salt. But I think it is still useful to be able to get an overall impression of your prose’s readability, and the Hemingway App goes one step further by highlighting certain sentences or word choices that are likely to be complicating your prose more than it needs to be.</p>
        </section>

        <section>
          <h2>Writing Tips</h2>
          <span class="url-reference large"><a href="http://www.betterwritingskills.com/writing-tips.html"><i class="fa fa-external-link"></i> http://www.betterwritingskills.com/writing-tips.html</a></span>
          <p>This resource is easy to use, and will help you make difficult decisions like choosing between who or whom, which or that, who’s or whose, I or me, and many more.</p>
        </section>

        <section>
          <h2>The Purdue Online Writing Lab</h2>
          <span class="url-reference large"><a href="https://owl.english.purdue.edu/"><i class="fa fa-external-link"></i> https://owl.english.purdue.edu/</a></span>
          <p>This is an extensive resource for how to craft different pieces of writing, from the mechanics of word choice to the larger goals of research papers. The information is not very easily searchable, and thus it is not the most usable resource, but it is one of the most thorough.</p>
        </section>

        <section>
          <h2>Elements of Style</h2>
          <span class="url-reference large"><a href="http://www.bartleby.com/141/index.html"><i class="fa fa-external-link"></i> http://www.bartleby.com/141/index.html</a></span>
          <p>William Strunk, Jr.’s <span class="hilight">Elements of Style</span> is available in entirety here. This will not prove to be terribly helpful on a case-by-case basis in which you are looking for answers immediately, but remains required reading for most advanced high school composition courses.</p>
        </section>

        <section>
          <h2>Mental Floss’ List of “Persnickety Rules”</h2>
          <span class="url-reference large"><a href="http://mentalfloss.com/article/50346/12-persnickety-rules-associated-press-stylebook"><i class="fa fa-external-link"></i> http://mentalfloss.com/article/50346/12-persnickety-rules-associated-press-stylebook</a></span>
          <p>Mental Floss provided this quick and easy resource for some of the more nuanced rules of the AP Stylebook. The AP Stylebook is not the end-all be-all of language, but these 12 rules are both interesting and advisable.</p>
        </section>

        <section>
          <h2>Lexicon Valley</h2>
          <span class="url-reference large"><a href="http://www.slate.com/articles/podcasts/lexicon_valley.html"><i class="fa fa-external-link"></i> http://www.slate.com/articles/podcasts/lexicon_valley.html</a></span>
          <p>Lastly, Slate hosts an excellent podcast on language called “Lexicon Valley.” The hosts are extremely dry, and the subject matter is really only interesting for those who are fascinated by things like the etymology of curse words, the evolution of how we refer to immigrants, or narrative techniques that create affectation by providing false tenses—but who among us does not want to learn more about all of that?</p>
        </section>
      </div>
    </div>
  </div>
</article>

