<article>
  <div class="row main-title">
    <div class="container">
      <h1>Style Guide</h1>
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      <div class="row">
        <aside>
          Aside
        </aside>

        <section>
          <h2>Lists:</h2>
          <p>Do not number a list unless the sequence is important to its meaning. Punctuate every point in a list the same way—if one bullet point requires an end punctuation, include an end punctuation in every bullet point to promote consistency.</p>
        </section>

        <section>
          <h2>Social Media:</h2>
          <p>Twitter, Facebook, Pinterest, and Instagram are all capitalized; tweet, like, share, and pin are not. In other instances, consider that there are such things proper nouns, but rarely such things as proper verbs.</p>
        </section>

        <section>
          <h2>Title/Subheads:</h2>
          <p>Use the appropriate HTML tags to clarify hierarchy. Capitalize only the first word and proper nouns. Do not punctuate the end of a title or subhead unless it adds meaning (i.e., question marks, exclamation points).</p>
        </section>

        <section>
          <h2>Oxford Comma:</h2>
          <p>Always include the comma before the last item in a list, because it minimizes confusion in readers.</p>
        </section>

        <section>
          <h2>Abbreviations and Acronyms:</h2>
          <p>If there is any chance of confusion, spell out the entire word or words the first time. NASA, FBI, CIA, GOP, CD, and DJ are common exceptions as acronyms that are simpler and more easily recognized than their complete forms.</p>
        </section>

        <section>
          <h2>Capitalization:</h2>
          <p>Rules for capitalization generally follow the standards of common sense. Notable capitalization stylings that are not obvious: Internet, URL, and WiFi.</p>
        </section>

        <section>
          <h2>Commas:</h2>
          <p>Use commas to separate independent clauses, especially when switching subjects:</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: Kyle is running late, and he is very sweaty.</p>
            <p>DO: Kyle is running late, and Paul is anxious for his arrival.</p>
          </div>

          <p>separate two or more adjectives describing the same noun</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: 8th Light is a chill, supportive place to work.</p>
          </div>

          <p>separate one geographical area from another that is located inside</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: 8th Light is located in the Chicago, Ill., epicenter of awesome.</p>
          </div>

          <p>making a direct address</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: Kyle, you are awesome!</p>
          </div>

          <p>separate direct quotations from the sentence introducing them</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: So Kyle asked them, “Don’t you like working for 8th Light?”</p>
          </div>

          <p>separate items in a list.</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: Kyle went to the store and bought skirt steak, tortillas, cilantro, onions, limes, and Doritos.</p>
          </div>

          <p>Do not separate the subject of a sentence with the action it is doing.</p>
        </section>

        <section>
          <h2>Quotation Marks:</h2>
          <p>Use “smart” or curled quotes, except when noting units of measure. When abbreviating years, make sure the single quote is curled toward the text it would replace (e.g., ’80s, not ‘80s). Always place punctuation inside of quotation marks, unless it changes the meaning of what is inside the quotation marks.</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: Do you like watching the popular television program “The Bachelor”?</p>
            <p class="grayed-out">DON’T: Do you like watching the popular television program “The Bachelor?”</p>
          </div>

          <p>Notice how “The Bachelor” becomes the question in the second example.</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: So I asked him, “Why don’t you like ‘Party In The U.S.A.’?”</p>
            <p class="grayed-out">DON’T: So I asked him, “Why don’t you like ‘Party In The U.S.A.?’”</p>
            <p class="grayed-out">DON’T: So I asked him, “Why don’t you like ‘Party In The U.S.A.’”?</p>
          </div>
        </section>

        <section>
          <h2>Dates:</h2>
          <p>Only abbreviate months that are part of an exact date (e.g., Feb. 14, 1989). Separate the month and day from the year with a comma (e.g., February, 1989); or if it is just the month, you can also separate with an “of” (e.g., February of 1989). Abbreviations for each month are: Jan., Feb., Mar., Apr., Aug., Sept., Oct., Nov., and Dec. May, June, and July are not abbreviated.</p>
        </section>

        <section>
          <h2>Seasons:</h2>
          <p>Do not capitalize seasons (i.e., spring, summer, autumn, winter) unless the first word of a sentence, or part of a larger proper noun (i.e., “Autumn Sweater” by Yo La Tengo, or Winter of Mixed Drinks by Frightened Rabbit).</p>
        </section>

        <section>
          <h2>Ellipses:</h2>
          <p>There are two common forms of ellipses. When replacing a block of text, place three periods together and treat the block like a word, with a space on either side (e.g., “Paul thinks ... 8th Light is the best.”).</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: “Paul thinks ... 8th Light is the best.”</p>
          </div>

          <p>This example indicates that Paul shared other thoughts, but his opinion that “8th Light is the best” was the only one worth sharing.</p>

          <p>When used to indicate an ongoing list being cut short, treat the ellipses like sentence punctuation, with one space only after the three periods.</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: Paul likes all kinds of foods, like tacos, cheeseburgers, bratwursts, cookies... Have you ever eaten a turtle?</p>
          </div>

          <p>You do not need to add additional punctuation to indicate the end of the sentence, because that is implied by the capital letter beginning the following sentence.</p>
        </section>

        <section>
          <h2>Em Dashes:</h2>
          <p>Em dashes, also called dashes or long dashes, are created by placing two hyphens next to each other, or typing alt+shift+hyphen on a Mac. They indicate an aside or a deviation in thought that is usually more abrupt and powerful than parentheses. There should never be a space on either side of an em dash.</p>
        </section>

        <section>
          <h2>Hyphens:</h2>
          <p>Hyphens are used to link compound modifiers, which are multiple words that modify a verb or noun in a way that is dependent on the other. You can determine whether something is a compound modifier or not by separating the words into two different thoughts. For example, in a sentence like “blond, blue-eyed boy,” you can create three different descriptions with the three different adjectives: “blond boy,” “blue boy,” and “eyed boy.” “Blond boy” is what we want to say, but we do not want to describe the boy as separately “blue” and “eyed”—those two modifiers only work in conjunction with each other, so they should be linked with a hyphen as a compound modifier.</p>
          <p>One common and unique example is “health care.” When talking about the broad concept of health coverage, “health care” is a noun that should be written without a hyphen. However, when talking about the health-care industry, health-care legislation, or any similar construct, health care becomes a compound modifier for the nouns industry, legislation, etc., and requires a hyphen.</p>
        </section>

        <section>
          <h2>Numbers:</h2>
          <p>Integers zero through nine are written out alphabetically. Numbers 10 and higher are written numerically, unless it is the first word of a sentence or quotation.</p>
          <p>Two exceptions to this rule are years and 8th Light. Both should always be written numerically, even at the beginning of a sentence, because the numerical value is the form they take as proper nouns.</p>
          <p>Use numerals when referring to time or money. For amounts of $1 million or more, spell out the words million, billion, trillion, etc.</p>
        </section>

        <section>
          <h2>Who vs. That:</h2>
          <p>Use “who” or “whom” to refer to a person, and “that” to refer to an inanimate object.</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: Kyle is the person who wrote this example.</p>
            <p class="grayed-out">DON’T: Kyle is the person that wrote this example.</p>
            <p>DO: The Willis Tower is the building that was formerly known as the Sears Tower.</p>
            <p class="grayed-out">DON’T: The Willis Tower is the building who was formerly known as the Sears Tower.</p>
          </div>
        </section>

        <section>
          <h2>States and Cities:</h2>
          <p>Separate states from both cities and the remainder of the sentence with commas (e.g., Kenosha, Wisconsin, is Kyle’s hometown.). It is always acceptable—though not required—to abbreviate a state on first mention (Ala., Ariz., Ark., Calif., Colo., Conn., Del., Fla., Ga., Ill., Ind., Kan., Ky., La., Md., Mass., Mich., Minn., Miss., Mo., Mont., Neb., Nev., N.H., N.J., N.M., N.Y., N.C., N.D., Okla., Ore., Pa., R.I., S.C., S.D., Tenn., Vt., Va., Wash., W.Va., Wis., and Wyo.). The District of Columbia is treated the same as a state, and its abbreviation is D.C.</p>
          <p>If a city is sufficiently well-known, it does not require a state listed on first mention. According to the AP Style Guide, those cities are: Atlanta, Baltimore, Boston, Chicago, Cincinnati, Cleveland, Dallas, Denver, Detroit, Honolulu, Houston, Indianapolis, Las Vegas, Los Angeles, Miami, Milwaukee, Minneapolis, New Orleans, New York, Oklahoma City, Philadelphia, Phoenix, Pittsburgh, St. Louis, Salt Lake City, San Antonio, San Diego, San Francisco, Seattle, and Washington.</p>
        </section>

        <section>
          <h2>Times:</h2>
          <p>Use integers to write out times, but spell out noon and midnight. Abbreviate “a.m.” and “p.m.” with periods, and separate hours from minutes with a colon. Do not write out :00.</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: “I am going to eat lunch at 12:30 p.m., whether Taco Bell is open or not.”</p>
            <p>DO: “It’s 5 p.m. somewhere.”</p>
          </div>
        </section>

        <section>
          <h2>Titles:</h2>
          <p>Capitalize formal titles when they appear before a person’s name, but lowercase titles if they are informal, appear without a person’s name, or are separated from a person’s name by commas. Separate titles from a person’s name when the title is sufficiently long (e.g., former senator from Wisconsin, Russ Feingold). If an adjective is used to describe the status of a title, do not capitalize (e.g., President-elect Barack Obama).</p>
          <p>Do not use courtesy titles like Mr., Ms., or Mrs., unless part of a direct quotation, or if necessary to differentiate between people with the same name.</p>
        </section>

        <section>
          <h2>Words to Avoid:</h2>
          <p>Be sparse with modifiers. You might think they are enhancing your meaning, but if overused, they will do so at the expense of your readability and flow. If you think an adjective is absolutely necessary, try thinking of a different noun or verb that could better capture the meaning. If you cannot, that is OK! Even Hemingway used an adverb every once in a while (probably).</p>
          <p>Also try to avoid speaking to the reader directly, using terms like “you.” You do not know the readers, and you cannot presume to know where they are coming from. There are exceptions, of course—this communication guide being one of them. A good rule of thumb is that if you do use the informal “you,” speak to “you” with the care and respect as if speaking to yourself.</p>
        </section>

        <section>
          <h2>Passive Voice:</h2>
          <p>Whenever possible, avoid writing in the passive voice. The passive voice is identifiable as the times when something other than the subject of a sentence is performing the verb. Typically, the passive voice will frame the direct object as the subject.</p>

          <div class="example">
            <h3>Example</h3>
            <p class="grayed-out">DON’T: “<span class="hilight">White Noise</span> was written in 1985.”</p>
          </div>

          <p>What is the subject of that sentence? Who or what wrote the book?</p>

          <div class="example">
            <h3>Example</h3>
            <p>DO: “Don DeLillo wrote <span class="hilight">White Noise</span> in 1985.”</p>
          </div>

          <p>Now the subject, verb, and direct object all have clear roles.</p>
        </section>

        <section>
          <h2>Links</h2>
          <p>When including links within your content, never make the link text something generic like “click here” or “read more.” Search engines catalog not only the pages you link to, but also the method by which you link to the page. The kind of quality user experience that search engines prioritize will have descriptive link tags.</p>
          <p>When matters of grammar are in question, the correct grammatization is always the one that minimizes ambiguity. <span class="end-of-article-marker"><i class="fa fa-dot-circle-o"></i></span></p>
        </section>
      </div>
    </div>
  </div>
</article>

