<div class="container main">
  <article>
    <div class="row main-title">
      <div class="container">
        <h1>Tone</h1>
      </div>

      <!-- <div class="article&#45;pagination"> -->
      <!--   Tone &#38;#10095; -->
      <!-- </div> -->
    </div>

    <div class="container">
      <div class="main-content center">
        <div class="row">
          <p><span class="drop-cap">V</span>oice is a broad concept that doesn’t allow for much nuance. It is an umbrella and a guide that will protect us from appearing sloppy or unprofessional, but it is not strong enough for us to capture the passion and excitement that we get from our craft. That is why we also employ tone.</p>
          <p>Think of the difference between voice and tone like your own. When you speak, your voice rarely changes. That is how someone can tell it is you on the other line when you answer the phone. That is the reason why voice-identification software can work.</p>
          <p>But you change your tone to fit appropriate context all of the time. You use your voice differently when you are out with friends than when you are visiting an elderly relative. You speak differently to a figure of authority than you do to a child. Even with the same friend, you will change your tone depending on the subject matter. Your overall voice and personality remain constant, but they reveal themselves in slightly different ways.</p>
          <p>In this same way, different people can write in different tones without deviating from the the standards set by 8th Light’s voice of craftsmanship.</p>
          <p>Your prose should sound like you. Your blogs should be distinguishable from others’ because they will be informed by your distinct personality and tone.</p>
          <p>You can fine-tune this tone in various ways. If you want to sound more urgent and create momentum with your language, you can prolong sentences by avoiding any grammatical stoppers like periods—and instead use conjoining punctuation like em dashes to help a reader fall forward into subsequent thoughts, similar to what has happened in this sentence.</p>
          <p>If you want to sound short, make your sentences short. Write declaratively. End thoughts abruptly. Employ active verbs. They swallow descriptors, and lend your sentences a sense of authority.</p>
          <p>If you want to sound passive, use disinterested verbs and modifiers like “like,” as if you could not be bothered to come up with a more effective word choice.</p>
          <p>But even while manipulating these smaller details to capture more nuanced intonations of language, your written voice should be nearly identical to your speaking voice.</p>
          <p>Simply put: You should write like you speak. So long as you adhere to the guidelines of the voice of craftsmanship, focus your arguments on empathetic and empirical evidence, and avoid saying anything inflammatory, a colloquial tone will help you sound approachable and genuine.</p>
          <p>This is difficult for many people, because the mechanics and nuances of written language are not internalized in the same way that the mechanics and nuances of speech are. The only way to truly correct this is to practice writing until writing sentences is as easy as speaking them; until manipulating grammar does not require conscious thought. But if you do not already think about speaking in terms of sentences and grammar (and many do not), this period of deliberate practice can take years and years. In lieu of that, there are steps you can take to ease yourself into the process of writing colloquially.</p>
          <p>At the beginning stages of crafting a document, do not worry about the grammar and sentence-level structure that is not immediately apparent to you. Focus on the larger themes and ideas you want to reference, and then plot them onto an outline that organizes your thoughts how you want them. For help organizing thoughts, reference the section on different types of content for examples on how to develop your writing.</p>
          <p>After completing an outline that makes sense to you and resembles the way you would like to write about your topic, you can begin employing some of the more precise techniques to capture the purest form of your voice in writing. The easiest thing you can do is to read your text aloud to yourself. Really listen to yourself. Does that sound like something you would say? And is that how you would say it? You might need to go through several rounds of trial and error before nailing down the syntax and structure that is a true reflection of your speaking voice.</p>
          <p>If you are still struggling to locate the perfect voice, the best thing to do is to move on from it. If you flood your head with too many words and combinations, they will all begin to bleed together and you will lose the ability to discern differences between them. Ask someone else to help proofread, or simply leave it for later. Your ability to think critically about your own word choice and sentence structure will improve dramatically once you let the document sit idle for a day or two.</p>
          <p>When you feel confident that you have captured your voice and tone on the page, re-read the entire essay to make sure you are still adhering to your original outline. Many times, when you obsess over language at such a granular level, you will lose site of the larger structural flow. This can provide new insights that can enhance or detract from the larger goals of your essay, but it is important that you understand them as part of the larger argument so that you can update your work accordingly to fit these changes. Maybe you will need to rewrite your thesis, or maybe you will need to update your conclusion, or maybe you will need to rewrite the sentences to align more closely with your larger structure. <span class="end-of-article-marker"><i class="fa fa-dot-circle-o"></i></span></p>
        </div>
      </div>
    </div>
  </article>
</div>
