<article>
  <div class="row main-title">
    <div class="container">
      <h1>Types</h1>
    </div>
  </div>

  <div class="container">
    <div class="main-content">
      <div class="row">
        <section>
          <p><span class="drop-cap">W</span>henever you are writing anything for 8th Light, it is important to consider two important questions:</p>
          <ul>
            <li><p>Why am I writing this?</p></li>
            <li><p>Who will read it, and what are they thinking?</p></li>
          </ul>

          <p>Use the first question to help determine what information to include, and use the second question as a way to tailor your language or tone to fit the context. Below are some additional guidelines to keep in mind while constructing different forms of communication:</p>

          <h2>Interactions With Clients</h2>
          <p>Whether speaking face-to-face or through email, telephone, Skype, or anything else, it is important to retain the voice of craftsmanship when interacting with clients. This will help you build a personable-yet-professional rapport that is built on trust. Greet them happily, and speak in a calm tone. When first starting your working relationship, avoid slang terms that might seem unprofessional, but don’t be afraid to inject some light personality as the conversations progress.</p>
          <p>As your relationship evolves, your choice of language will, too. You might be able to drop the formalities of strangers and shape your language to fit the interaction. Most of these situations will require you to follow the client’s lead—if a client is warm and personable, you should be, too; if a client is rigid and focused, you should be, too. If your client continues to use formal greetings and salutations in emails, you should, too. This will show the client that you are empathetic to their needs, and capable of communicating your message on their terms.Ultimately, your interaction with a client is about earning and delivering on a level of trust. Learn to treat your client like a human being. This is the foundation of a pyramid of trust and accountability that you need to build with your client. The mark of a successful client relationship is founded on trust.</p>
          <p>When you build this rapport, you do not need to fear mistakes. You will have proven your accountability, and they will trust that you care enough that you will put in the work to fix the problem. Be honest and straightforward about issues as they develop, not after they’ve already affected the product. Oftentimes, being open about mistakes and then fixing them will only reinforce the trust your client has in you, because you will have proven yourself to be accountable.</p>
          <p>The same holds true when working alongside other developers. Some developers might not subscribe to the 12 principles of craftsmanship, and might prefer to do things the wrong way. A craftsman will lead by example, and approach this as a teachable moment. Every developer can benefit from the principles of craftsmanship, and it might be up to you to demonstrate how that is true. Do so humbly, and in a way that does not attack the developer’s existing code, but simply presents the code that could exist. You will need to learn how to navigate these situations differently as fits the needs of each individual company.</p>
          <p>If you feel the urge to take a stand and even be confrontational with a client, you need to be sure that you are doing it for their benefit, not ours.</p>
        </section>

        <section>
          <h2>Iteration Planning Meetings</h2>
          <p>This is part of a craftsman’s interactions with clients, but it warrants its own section because it has such wide-ranging implications. It is extremely important to communicate the full range of expectations with your client in order to ensure that nobody is surprised at the IPM the following week.</p>
          <p>Clients will come from all different technical backgrounds. Some will understand the gritty, behind-the-scenes jargon and need little help in understanding what it is you will actually be working on in a given week. Other clients, though, will have no idea. Most will have a vague idea about what you are describing, though maybe not be able to anticipate what it will look like in final form.</p>
          <p>It is your responsibility to communicate that final image with your client. You should carefully describe not only the technical processes, but also the functional work that your code will have accomplished in the following week. Write the story’s Acceptance Criteria in terms of finished, tangible functions that the client will comprehend regardless of his or her technical background, as well as the finer details of the technical end. How do we gauge performance, and what do we expect that performance to be able to accomplish? How should the backend code appear on the front end? Cover every unknown. This way, expectations will be managed in a way that is beneficial for both the client and yourself. If you encounter an unknown between IPMs, make a point of clarifying expectations during a daily stand-up. Do not wait until an IPM to hope you have anticipated a client’s expectations.</p>
        </section>

        <section>
          <h2>Event Descriptions And Synopses, Newsletters, And Social Media</h2>
          <p>8th Light’s image is first and foremost as an educational entity. Event descriptions, synopses, and newsletters should focus on the tangible knowledge being shared, and the reasons why a particular person is sharing it. Our messages should endeavor to attract people interested in the craft, thus the craft should be at the core of our descriptions and marketing materials. The voice of craftsmanship should be used as a platform to avoid gimmickry and demonstrate genuine interest in sharing knowledge.</p>
        </section>

        <section>
          <h2>Bios</h2>
          <p>Bios for 8thlight.com should be written in third person and emphasize the qualities of the human he or she is as separate from the company. All 8th Light employees contribute their own voice and tone to the 8th Light community, and the unique interests and qualities that create this voice and tone are relevant to the bio. Readers will come to a bio to learn more about an individual, so each bio should serve as an introduction of both personal and professional backgrounds sufficient enough that they should not be surprised if they were to meet.</p>
        </section>

        <section>
          <h2>Case Studies</h2>
          <p>Case studies may serve as a primary marketing tool for 8th Light, but they should be written with an emphasis on the product, and the challenges in creating it. The tone should be confident, but not conceited. Acknowledge difficulties, and be explicit in the ways they were resolved. Focus on the tangible products and functions that were created, and mention technical details only to shed light on the types of skills that were required for the product, as well as the conversations that led to employing them. These stories should refer to 8th Light in the third person, and not require a technical background to be understood.As an extension of our non-disclosure agreements, clients have the right to review any document pertaining to their product before it is published on our website.</p>
        </section>

        <section>
          <h2>8thlight.com</h2>
          <p>The company’s website is a primary source of marketing. The tone must be proud of our abilities, but not elitist. Present facts and tangible skills in a straightforward way, while acknowledging that these things are such because of a culture of learning, and that culture is accessible to anyone.</p>
        </section>

        <section>
          <h2>8th Light University</h2>
          <p>All presenters and audience members at 8LUs are subject to the 8LU Code of Conduct, which includes such stipulations as to abstain from curse words and sexual language in every way, shape, or form. The presenter’s voice should continue to fall within the guidelines outlined as the voice of craftsmanship, though these restrictions are looser—there is ample room to inject personal tone where it demonstrates the ways in which the source material engages its users on a human level.</p>
        </section>

        <section>
          <h2>Internal correspondence</h2>
          <p>8th Light adopts a professional demeanor of business-casual. You are encouraged to correspond with coworkers in any way that encourages a positive work environment, and shows respect for all people.</p>
        </section>

        <section>
          <h2>The 8th Light Blog</h2>
          <p>The 8th Light blog allows for some of the most radical departures in tone, though it also carries an obvious burden of scrutiny and responsibility. Many potential bloggers will view that heightened scrutiny and responsibility as a hindrance, but it should not be. Most barriers to entry are false ones, and are better considered as buffers designed to bring out the best in a blogger.</p>
          <p>The affects of heightened scrutiny and responsibility are byproducts of the heightened visibility. Bloggers are not communicating directly with a client or coworker over a closed channel like email, but are instead communicating directly with anyone who wants to read it. That puts more pressure on the ideas being presented, but oftentimes the thing that causes anxiety is the presentation.</p>
          <p>There are two primary types of blog post: knowledge-oriented and community-oriented. Knowledge-oriented blog posts should be tailored to fit tightly around hard empirical evidence, with less editorialization. Community-oriented blog posts are more open-ended, and allow for more flexibility and editorialization of ideas. They oftentimes are focused around questions that you do not have definite answers to, and you should acknowledge as much when presenting your ideas.</p>
          <p>If you are struggling to write a blog, try breaking your thoughts out into its simplest pieces. Your essay should have an introduction, supporting evidence (usually two or three solid arguments), and a conclusion.</p>
          <p>Start by writing a thesis statement. A standard thesis statement is one sentence that defines your argument and introduces your supporting evidence. For example: 8th Light is a chillplace to work because everyone works hard, everyone is smart, and everyone is friends. In this example, “8th Light is a chill place to work” is the contention, while “everyone works hard,” “everyone is smart,” and “everyone is friends” are the three pieces of supporting evidence that the author will be detailing in the following paragraphs.</p>
          <p>You can continue from there by writing three more paragraphs, each elaborating on a different piece of supporting evidence. This supporting evidence can be unrelated experiences that have helped build your opinion, or they can be steps you followed in order to arrive at your conclusion. Explain why each statement is an argument in favor of your contention. They should be ordered in the same sequence as in the thesis statement.</p>
          <p>The conclusion should summarize your argument, and possibly contain one final revelation that ties the whole piece together. It is not overly important to add new ideas in the conclusion, and doing so can prove distracting if they do not tie together succinctly with the rest of the post.</p>
          <p>At this point you can return to the introductory paragraph, which currently contains just one sentence: the thesis. The thesis is usually the last sentence in an introductory paragraph, and you should build up to the thesis by providing context and defining any terms that may be unknowns. In our example, someone might not know what 8th Light is, or where it is, or what it does.</p>
          <p>Typically, writers start the beginning of the introductory paragraph by employing the inverted pyramid style of writing. Put the most pertinent information about your essay at the beginning: answer the who, what, when, where, why, and how so that the reader is prepared to consume the information that follows. Do not withhold important information early, because there is no guarantee that readers will continue reading past their first impressions. Include any other important information, and then add your thesis.</p>
          <p>Sometimes a blog will not require a full five-paragraph essay format, and that is fine. What is most important is that you establish context, defend your argument using empirical supporting evidence, and then summarize your position in your conclusion.</p>
          <p>In a community-oriented blog post, it is not enough to simply say that you would appreciate feedback. The ability to inspire conversation relies on your writing’s ability to be built by facts, and asserting your interpretation of those facts with humility. When focusing on word choice, be careful to stay within the voice and tone of a humble, inquisitive, and interested contributor.</p>
        </section>

        <section>
          <h2>Writing For The Web</h2>
          <p>While some SEO firms spend time and money on a cat-and-mouse game exploiting quirks in Google’s algorithms, others are avoiding all of the traps with quality content geared toward humans, not machines. Search engines are constantly updating their algorithms to anticipate and punish SEO gimmicks, while rewarding content that serves its readers. The best way to optimize for search engines is to provide quality content that gives readers what they want in an easy-to-find format. Do not use key words to exploit Google analytics; use key words to direct readers’ attention to the content they need. Writing for humans means using clear, concise language, and short, scannable paragraphs whenever possible.</p>
          <p>Link to other content whenever relevant, even if it is not hosted on the same site. This will help the readers discover context on their own, and it will help search engines understand your post’s utility within the larger themes addressed in the post. <span class="end-of-article-marker"><i class="fa fa-dot-circle-o"></i></span></p>
        </section>
      </div>
    </div>

    <aside>
      Aside
    </aside>
  </div>
</article>

