<div class="row">
  <section>
    <div class="row section-head">
      <div class="container">
        <h1><span style="color:#ddd;font-weight:400;letter-spacing:-10px;">03.</span>Types Of Content</h1>
        <!-- <span class="section&#45;name">Section Name</span> -->
      </div>
    </div>

    <div class="row">
      <div class="container">
        <div class="main">
          <p>Whenever you are writing anything for 8th Light, it is important to consider two important questions:</p>

          <ul>
            <li>
              <p>Why am I writing this?</p>
            </li>

            <li>
              <p>Who will read it, and what are they thinking?</p>
            </li>
          </ul>

          <aside>
            <div class="jump-links">
              <a href="#">
                <h3>Jump To</h3>
                We Humbly Demonstrate Our Expertise
              </a>
              <a href="#">We Are Calculated, And Take Responsibility For Our Prose</a>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
<div>

